*{
    color: rgb(5, 110, 93);
    font-family: Arial;
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header{
    background-color: rgb(148, 215, 239);
    height: 100px;
}
header .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    
}
/* diagrama*/

#diagrama{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(13, 160, 213);
    padding: 10px;
}

/* libreria */

#contenedor{
    width: 400px;
    margin: auto;
    border: 2px solid rgb(0, 119, 255);
    padding: 20px;
    box-shadow: 20px 20px gray;
}

.btn{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 174, 255);
    border-radius: 16px;
    color: rgb(1, 60, 255);
    float: left;
    margin: 10px;
    margin-left: 70px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    line-height: 30px;
}
.btn:hover{
    color: black;
    background-color: white;
}

