body{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header{
    background-color: rgb(148, 215, 239)
}
header .contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .contenedor{
    max-width: 1000px;
    margin: 0;

}
header a{
   padding: 5px 10px;
   text-decoration: none;
   font-weight: bold;
   color: rgb(54, 102, 104);
}
header a:hover{
    color: rgb(236,28,36);
}
/* diagrama*/

#diagrama{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(13, 160, 213);
    padding: 10px;
}

/* libreria */
.app{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}
.card{
    width: 350px;
    border: 1px solid rgb(13, 160, 213,);
    border-radius: 5px;
    overflow: hidden;
}
.card-img{
    height: 250px;
    width: 100%;
    cursor: pointer;
}
.windows-modal{
    position: fixed;
    background-color: rgba(36, 186, 241, 0.559);
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.windows-img{
    height: 500px;
    width: 70%;
    border-radius: 5px;
}

.btn{
    outline:none;
    border: none;
    padding: 1em 2em;
    background-color: rgb(54, 102, 104);
    color: aliceblue;
    border-radius: 5px;
}
.hidden{
    
}

/*    pie de pagina     */
footer{
    background-color: #24262b;
    padding: 10px 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .pie{
    font-size: 15px;
    color: white;
}
.fa-solid fa-burger{
    font-size: 40px;
}
.social p{
    font-size: 15px;
    color: white;
}
.social{
    font-size: 40px;
    color: white;
}
footer  p:hover{
    color: rgb(237,121,2);
}